.five-days__container {
  display: flex;
  flex-flow: column wrap;
}

.five-days__details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.five-days__details--none {
  display: none;
}

@media only screen and (min-width: 700px) {
  .five-days__container {
    flex-flow: row wrap;
  }
}
