.weather__container {
  display: flex;
  flex-flow: column wrap;
  height: 240px;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  cursor: pointer;
  align-items: center;
}

.weather__title {
  text-align: center;
  margin: 5px;
}

.weather-icon__container {
  display: flex;
  justify-content: center;
}

.weather-icon {
  height: 100%;
}

.weather__temp--high {
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  margin: 0;
}

.weather__temp--low {
  color: #cecece;
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  margin: 0;
}

.weather__temp--low::after,
.weather__temp--high::after {
  content: "°";
}

.row {
  justify-content: center;
}

.active {
  background-color: rgba(235, 227, 255, 0.5);
  border: 1px solid #cecece;
  border-radius: 5px;
}
