.card__container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.card {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px #eee;
}

/* .card::before {
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
} */

@media only screen and (min-width: 700px) {
  .card__container {
    width: 50%;
  }
}

@media only screen and (min-width: 980px) {
  .card__container {
    width: 33%;
  }
}